:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

body {
  background-color: black;
}

* {
  padding: 0%;
  margin: 0%;
}

/* HomePage-css */
.HomePage-content-hdr {
  display: flex;
  gap: 25%;
  background-color: black;
  padding-bottom: 1%;
  border-bottom: 1px solid #e0ffff;
}

.HomePage-nav-btn span {
  padding-left: 10%;
  padding-right: 5%;
  font-size: 14px;
  text-align: center;
}

.HomePage-nav-btn {
  padding-top: 2%;
  color: #e0ffff;
  text-shadow:
    0 0 7px #00d4ff,
    0 0 10px #00d4ff,
    0 0 21px #00d4ff,
    0 0 42px #0081ff;
  cursor: pointer;

  animation: reactor-pulse 2s infinite alternate;
}

.HomePage-hdr {
  padding-top: 1%;
  margin-left: 20px;
  color: #e0ffff;
  text-shadow:
    0 0 7px #00d4ff,
    0 0 10px #00d4ff,
    0 0 21px #00d4ff,
    0 0 42px #0081ff;
  cursor: pointer;
  animation: reactor-pulse 2s infinite alternate;
}

.HomePage-nav-btn span:hover {
  color: black;
}

/* about-cnt */
.about-content {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.about-quotes h1 {
  padding-left: 20%;
  padding-top: 10%;
  text-align: center;
  color: #e0ffff;
  width: 60%;
  font-size: 64px;
  font-family: "OpenAI Sans", sans-serif;
  padding-bottom: 1%;
  text-shadow:
    0 0 7px #00d4ff,
    0 0 10px #00d4ff,
    0 0 21px #00d4ff,
    0 0 42px #0081ff;
  animation: reactor-light 2s infinite alternate;
}

.about-statement {
  color: #e0ffff;
  text-align: center;
  font-size: 17px;
  font-family: "OpenAI Sans", sans-serif;
  font-weight: 400;

  animation: reactor-light 1s infinite alternate;
}

@keyframes reactor-light {
  from {
    opacity: 1;
    text-shadow:
      0 0 7px #00d4ff,
      0 0 10px #00d4ff,
      0 0 21px #00d4ff,
      0 0 42px #0081ff;
  }

  to {
    opacity: 0.8;
    text-shadow:
      0 0 4px #00d4ff,
      0 0 7px #00d4ff,
      0 0 15px #0081ff,
      0 0 30px #0051ff;
  }

}

.start-button .btn {
  height: 35px;
  width: 10%;

}

.start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1%;

}

.btn button {
  background-color: black;
  color: white;
  height: 100%;
  font-family: "OpenAI Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 20px;
  width: 100%;

}

.btn button:hover {
  box-shadow:
    0 0 7px #00d4ff,
    0 0 10px #00d4ff,
    0 0 21px #00d4ff,
    0 0 42px #0051ff;
}

.Learn-button .learn-btn {
  height: 35px;
  width: 10%;
}

.Learn-button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

.learn-btn button {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "OpenAI Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 20px;
}

.learn-btn button:hover {
  box-shadow:
    0 0 7px #00d4ff,
    0 0 10px #00d4ff,
    0 0 21px #00d4ff,
    0 0 42px #0051ff;
}

.lottie {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  opacity: 0.8;
  padding-top: 25%;
}

.reactor-lottie {
  filter: drop-shadow(0, 0, 40px cyan);
}

/* ChatPage Css */
.ChatPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Option-Wapper.Option-Open {
  width: 200px;
}

.ChatPage-Option {
  width: 100%;
  height: 100%;
  position: relative;
}

.Option-Wapper {
  width: 3%;
  height: 100vh;
  display: flex;
  position: absolute;
  background-color: white;
  overflow: hidden;
  z-index: 1000;
}

.Option-Wapper.Option-Open .window-button {
  left: auto;
  right: 10px;
}

.Display {
  display: inline;
  padding-left: 5px;
  font-family: "Google Sans Flex", "Google Sans", "Helvetica Neue", sans-serif;

}

.NotDisplay {
  display: none;
}

.window-button {
  position: absolute;
  top: 2%;
  left: 35%;
}

.Option-Wapper.Option-Wapper.Option-Open .NewPage-Button {
  left: 10px;
  right: auto;
}

.NewPage-Button {
  position: absolute;
  top: 10%;
  right: 20%;
}

.Option-Wapper.Option-Open .Subcription-button img {
  display: none;
}

.Subcription-button img {
  position: absolute;
  top: 85%;
  right: 10%;
}

.ChatPage-Search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
}

.ChatPage-Search.centre {
  position: absolute;
  top: 50%;
}

.Search-button {
  width: 60%;
  padding-top: 10px;
  padding-bottom: 4px;
  padding-left: 50px;
  padding-right: 10px;
  border-radius: 50px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: relative;
}


.Search-button.Search-button-down {
  padding-bottom: 2%;
}

.Search-button textarea {
  width: 98%;
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  overflow-y: auto;
  font-size: 16px;
  resize: none;
  outline: none;
  font-family: "Google Sans Flex", "Google Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.upload-btn {
  position: absolute;
  top: 30%;
  left: 2%;
}

.downside {
  position: absolute;
  bottom: 2%;
}

.default {
  background-color: black;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  top: 25%;
  right: 5%;
  border: none;
}

.arrow {
  color: white;
}

.downposition {
  position: absolute;
  bottom: 2%;
  right: 4%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: black;
  border: none;
}

.ChatPage-Input {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  padding-left: 70px;
  display: flex;
  flex-direction:column;
}

.Chat-Box{
  border-radius: 8px;
  padding: 10px 14px;
  max-width: 45%;
  color: white;
  word-break: break-word;
  margin-top: 10px;
}
.UserInput{
  background-color: #444;
  align-self: flex-start;
}
.UserOutput{
  background-color: #444;
  align-self:flex-end;
}

.My-stuff,
.Smart-view,
.Insight-Scale,
.Knowledge-Tree,
.Daily-Sparks,
.Insight-Board {
  position: absolute;
  font-family: "Google Sans Flex", "Google Sans", "Helvetica Neue", sans-serif;
}

.My-stuff {
  top: 15%;
  left: 9px;
}

.Smart-view {
  top: 20%;
  left: 10px;

}

.Insight-Scale {
  top: 25%;
  left: 10px;

}

.Knowledge-Tree {
  top: 30%;
  left: 10px;

}

.Daily-Sparks {
  top: 35%;
  left: 10px;

}

.Insight-Board {
  top: 40%;
  left: 10px;

}

.User-Profile img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
  margin-left: 5px;
  margin-top: 5px;
}

.User-Account-Option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  position: absolute;
  bottom: 2%;
  z-index: 1000;
  margin-left: 5px;
}

.Claim-offer {
  justify-content: center;
  align-items: center;
}

.Claim-offer button {
  border: none;
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.Horizontal-Line {
  width: 100%;
  border: none;
  bottom: 70px;
  height: 1px;
  position: absolute;
  background: black;
}

.Settings-Option {
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  background-color: black;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  z-index: 1000;

}

.Settings-Option li {
  font-family: "Google Sans Flex", "Google Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: white;
}

.User-Name {
  padding: 0;
  margin-bottom: 20px;
  padding-right: 40px;
  padding-left: 10px;
}

.User-Settings {
  margin-bottom: 20px;
  margin-top: 10px;
  padding-right: 40px;
  padding-left: 10px;
}

.User-Customization {
  margin-top: 10px;
  padding-right: 40px;
  padding-left: 10px;
}

.Horizontal-Settings {
  border: none;
  background-color: white;
  height: 1px;
  width: 100%;
}

.Help-Centre {
  margin-top: 10px;
  padding-right: 40px;
  padding-left: 10px;
}

.Log-out {
  padding-right: 40px;
  padding-left: 10px;
}

.Email {
  font-size: 12px;
  font-family: "Google Sans Flex", "Google Sans", "Helvetica Neue", sans-serif;
}

.Help-Centre:hover {
  background-color: gray;
  border-radius: 5px;
}

.User-Customization:hover {
  background-color: gray;
  border-radius: 5px;
}

.User-Settings:hover {
  background-color: gray;
  border-radius: 5px;
}

.User-Name:hover {
  background-color: gray;
  border-radius: 5px;
}

.Log-out:hover {
  background-color: gray;
  border-radius: 5px;
}
.files img{
  height: 50px;
  object-fit: cover;
  
}
.file-preview{
  display: flex;
  gap: 20px;
}
.file-cancle{
  position: absolute;
  top: 10px;
}